if (EXISTS "${CMAKE_CURRENT_SOURCE_DIR}/catch_amalgamated.cpp")
    add_library(catch2 catch_amalgamated.cpp)
endif()

set(CMAKE_BUILD_TYPE Debug)
set(CMAKE_CXX_EXTENSIONS OFF)
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -Wall -Wextra -Wconversion")
set(CMAKE_CXX_STANDARD 20)
set(CMAKE_EXPORT_COMPILE_COMMANDS ON)

include(CTest)
